server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/ewm
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

stats-service:
  url: http://localhost:9090